* {
    padding: 0px;
    margin: 0px;
}

.container {
    margin: 0 auto;
    width: 1200px;
    padding:10px;
}

body {
    background-color: rebeccapurple;
}

h1, p, label{
    padding:10px;
    margin:10px;
}

.submit {
    margin:10px;
    padding: 5px 15px;
    background-color: aqua;
    font-family: 'Comic Sans MS', 'Comic Sans MS', cursive;
    box-shadow: 2px 5px black;
}